.recover-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('https://objectstorage.mx-queretaro-1.oraclecloud.com/p/AQJ9ycvPcEbPudU4ypftS1cFQPvSk1b4x9St_e_P4g7ERieTAgagRPGa5-jzpb2P/n/axgyv8vo90ix/b/orabot-ooxbf/o/image-texture-fingerprint-light');
    
}

.title{
    font-weight: 700;
    margin-bottom: 1rem;
    text-align: center;
}

.titleRecover{
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    display: block;
    margin-top: 24px;
    margin-bottom: 24px;
    color: #100F0E;
}

.borderSelected{
    border-bottom: 2px solid #BB501C;
}