.recover-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('https://objectstorage.mx-queretaro-1.oraclecloud.com/p/AQJ9ycvPcEbPudU4ypftS1cFQPvSk1b4x9St_e_P4g7ERieTAgagRPGa5-jzpb2P/n/axgyv8vo90ix/b/orabot-ooxbf/o/image-texture-fingerprint-light');
    padding: 0px 32px;
}

.recover-container .input-container{
    display: flex;
    align-items: center;
    width: 45%;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px 0;
    font-size: 2.5rem;
}

.title{
    font-weight: 700;
    margin-bottom: 1.5rem;
    text-align: center;
}

.titleRecover{
    font-size: 1    rem;
    font-weight: 400;
    text-align: center;
    display: block;
    margin: 24px 16px;
    color: #100F0E;
}

.borderSelected{
    border-bottom: 2px solid #BB501C;
}