.container {
    display: flex;
    flex-direction: column;
    margin: 8px 16px;
}

.eyeButton {
    position: absolute; 
    right: 2rem; 
    transform: translateY(-130%);
    padding: 0 10px;
    cursor: pointer;
    color: #fff;
    transition: all 0.3s;
    width: 32px;
    height: 32px;
}

.character-counter{
    position: absolute;
    padding: 16px 8px;
    right: 2rem;
    transform: translateY(-80%);
    transition: all 0.3s;
    font-size: 1rem;
}
