HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.log
.gz
backend/.log
backend/.tmp
backend/.gz
.properties

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/
/target/*

### VS Code ###
.vscode/

### LOGS ###
*.log
logs/

### OS ###
.DS_Store
.DS_Store?
._*

### Java ###
*.class
*.jar
*.war

### Node ###
**/node_modules
npm-debug.log
yarn-error.log

