.bold{
    font-weight: bold;
}

/* h1 {
    font-size: calc(16px + 1vmin);
    font-weight: 700;
    color: #3a3632;
    margin: 32px 0;
} */

h3 {
    font-size: calc(24px + 2vmin);
    font-weight: 700;
    color: #3a3632;
    margin: 0;
}   

.dashboard-hero{
    display: flex;
    flex-direction: column;
    padding: 16px;
    align-items: left;
    background-image: url('https://axgyv8vo90ix.objectstorage.mx-queretaro-1.oci.customer-oci.com/p/AQJ9ycvPcEbPudU4ypftS1cFQPvSk1b4x9St_e_P4g7ERieTAgagRPGa5-jzpb2P/n/axgyv8vo90ix/b/orabot-ooxbf/o/image-beige-pattern');
    background-size: repeat;
    background-color: #F9F9F9;
    height: 16vh;
}

.subtitle {
    text-align: left;
}

.unblockBtn {
    background-color: #3a3632;
    color: #f2f2f2;
    font-size: 20px;
    font-weight: 700;
    padding: 16px;
    margin: auto;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 32px;
    width: 50%;
}

.btnDash {
    background-color: #cc523f;
    color: #f2f2f2;
    font-size: 20px;
    font-weight: 700;
    padding: 16px;
    margin: auto;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 32px;
    width: 50%;
}