.filterContainer {
  background-color: #47423E;
}

.filterOpt {
  display: flex;
  color: #f2f2f2;
  gap: 8px;
}

.sep {
  margin-left: 16px;
}

.textX{
    font-size: .9rem;
    margin-right: 8px;
    color: white
}

select {
  padding: 8px 16px;
  margin-block: 16px;
  overflow: hidden;
  width: 100%;
}

.leftSide {
  display: flex;
  margin-left: 16px;
}

.rightSide {
  display: flex;
  margin-right: 16px;
  flex: 1;
}

.bigger{
    flex: 2;
}

.imageB{
margin: auto;
}

.btnAdd{
  display: flex;
  background-color: #bb501c;
  border: none;
  padding: 4px;
  margin: 16px 0 16px 16px;
  cursor: pointer;
  justify-content: center;
  font-size: 1.8rem;
  flex: 2;
  color: white;
  border-radius: 8px;
}

.btnArchived{
  display: flex;
  background-color: white;
  border: none;
  padding: 4px;
  margin: 16px 16px 16px 0;
  cursor: pointer;
  justify-content: center;
  font-size: 1rem;
  flex: 1;
  color: black;
  font-weight: bold;
  border-radius: 8px;
}

p {
  all: unset;
  align-self: center;
}

.btn {
  display: flex;
  background-color: #bb501c;
  border: none;
  padding: 4px;
  margin: 16px;
  cursor: pointer;
  justify-content: center;
  font-size: 1.8rem;
  flex: 1;
  color: white;
  border-radius: 8px;
}

.filter-selector-container {
  display: flex;
  justify-content: flex-start;
  margin: 8px 16px;
}

.status {
  display: flex;
  flex: 2;
  gap: 8px;
  margin-left: 16px;
  margin-bottom: 16px;
}

.statusSel {
  all: unset;
  font-size: 0.8rem;
  background-color: #161513;
  padding: 12px 12px;
  border-radius: 8px;
  color: #f2f2f2;
  margin-inline: 4px;
}

.priority {
  display: flex;
  align-items: center;
  gap: 8px;
}

.prioritySel {
  all: unset;
  font-size: 0.8rem;
  background-color: #161513;
  padding: 12px 16px;
  margin-inline: 8px;
  border-radius: 50%;
  color: #f2f2f2;
}

.statusSelAct {
  all: unset;
  font-size: 0.8rem;
  background-color: #fff;
  padding: 12px 12px;
  border-radius: 8px;
  color: #fff;
  background-color: #bb501c;
  margin-inline: 4px;
}

.prioritySelAct {
  all: unset;
  font-size: 0.8rem;
  background-color: #bb501c;
  padding: 12px 16px;
  border-radius: 50%;
  color: #000;
  margin-inline: 8px;
}

.burguerMenu{
  width: 21px;
  height: 40px;
  align-self: center;
  border-radius: 16px;
  cursor: pointer;
}

.teamM{
  align-self: center;
}

.white{
  color: white;
}

.leftMargin{
  margin-left: 16px;
}