input {
  all: unset;
}

h1 {
  all: unset;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  display: block;
  margin-top: 48px;
  margin-bottom: 24px;
}

.container {
  margin-inline: 48px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.inputs {
  border-bottom: 2px solid #c84431;
  padding: 16px;
  text-align: left;
}

.btnX {
  background-color: #3a3632;
  color: #f2f2f2;
  font-size: 20px;
  font-weight: 700;
  padding: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 32px;
  width: 100%;
}

.questionBtn {
  all: unset;
  margin-top: 24px;
  color: #c84431;
  cursor: pointer;
  text-align: center;
  width: 100%;
}

.error{
  display: block;
  color: red;
  font-size: 1rem;
  text-align: center;
  margin-top: 16px;
}