.task-container{
    margin-inline: 16px;
    display: flex;
    flex-direction: column;
    background-image: url('https://static.oracle.com/cdn/fnd/gallery/2401.0.1/images/texture-rose-opacity-10.png');
    height: 100%;
    margin: 0;
    padding: 16px 8px;
}

.inputsSpe{
    padding: 16px;
    border: 1px solid #100F0E;
}

.inputArea{
    padding: 16px;
    border: 1px solid #100F0E;
    font-size: 1rem;
    margin-bottom: 0;
}

.statusText{
    all: unset;
    margin-block: 24px;
    font-size: 1.3rem;
    font-weight: bold;
}

.buttonsContainer{
    display: flex;
    justify-content: space-around;
    margin-bottom: 0px;
    gap: 16px;
}

.button{
    border-radius: 8px;
    padding: 8px 16px;
    flex: 1;
    font-size: 16px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}

.button:hover{
    background-color: #47423E;
}

.red:hover{
    background-color: #C84431;
}

.black{
    background-color: #100F0E;
}

.priorityContainer{
    display: flex;
    gap: 8px;
}

.dueDate{
    flex: 1;
    border: 1px solid #100F0E;
    padding: 8px;
}

.gray{
    background-color: #100F0E;
}

.taskTitle{
    all: unset;
    font-size: 1rem;
}

.groups{
    display: flex;
    gap: 8px;

}