.task-container{
    display: flex;
    flex-direction: column;
    background-image: url('https://objectstorage.mx-queretaro-1.oraclecloud.com/p/AQJ9ycvPcEbPudU4ypftS1cFQPvSk1b4x9St_e_P4g7ERieTAgagRPGa5-jzpb2P/n/axgyv8vo90ix/b/orabot-ooxbf/o/image-texture-fingerprint-light');
    height: 100%;
    padding: 16px 32px;
    justify-content: flex-start;
}

.statusText{
    all: unset;
    margin-block: 24px;
    font-size: 1.3rem;
    font-weight: bold;
}

.buttonsContainer{
    display: flex;
    justify-content: space-around;
    margin-bottom: 0px;
    gap: 16px;
}

.button{
    border-radius: 8px;
    padding: 8px 16px;
    flex: 1;
    font-size: 16px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}

.button:hover{
    background-color: #47423E;
}

.red:hover{
    background-color: #C84431;
}

.black{
    background-color: #100F0E;
}

.priorityContainer{
    display: flex;
    gap: 8px;
}

.dueDate{
    flex: 1;
    border: 1px solid #100F0E;
    padding: 8px;
}

.gray{
    background-color: #100F0E;
}
