.containerHeader{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;  
    background-color: #3A3632;
}

.back{
    position: absolute;
    left: 24px;
    top: auto;
    cursor: pointer;
}

h2{
    all: unset;
    font-size: 24px;
    color: #F2F2F2;
    font-weight: 700;
    padding-block: 8px;
}